extends layout

block content
    .row.mt-0
        .col-3
            .nav.flex-column.nav-pills
                a.nav-link.active.justify-content-between.d-flex.align-items-center(href="#users" data-toggle="list")
                    span
                        span Users
                    span.badge.badge-pill.badge-primary=users.length
                a.nav-link.justify-content-between.d-flex.align-items-center(href="#products" data-toggle="pill")
                    span Products
                    span.badge.badge-pill.badge-primary=products.length
                a.nav-link.justify-content-between.d-flex.align-items-center(href="#orders" data-toggle="list")
                    span Orders
                    span.badge.badge-pill.badge-primary=orders.length
                a.nav-link.justify-content-between.d-flex.align-items-center(href="#settings" data-toggle="list")
                    span Settings
                    span.fas.fa-cogs
        .col-9
            .tab-content
                .tab-pane.active(id="users") 
                    .col-12
                        h1 Users
                        ul.list-group
                            each account in users
                                a.list-group-item.list-group-item-action.justify-content-between.d-flex(href='/account/' + account._id)
                                    div
                                        span=account.username
                                        if account.username == 'admin'
                                            span.badge.badge-pill.badge-danger.ml-2 Admin
                                    form.inline-form(action="/admin/delete-account/" + account._id method="POST")
                                            .btn-group
                                                button.btn.btn-danger.btn-sm(type="submit")
                                                        span Delete
                .tab-pane(id="products") 
                    .col-12
                        row.justify-content-between.d-flex
                            h1 Products
                            button.btn.btn-success(data-toggle="modal" data-target="#newProductDialog") New Product
                        row
                            ul.list-group.mt-2
                                each product in products
                                    a.list-group-item.list-group-item-action.justify-content-between.d-flex(href="/product/" + product._id)
                                        h4=product.title
                                        form(action="/admin/delete-product/" + product._id method="POST")
                                            .btn-group
                                                button.btn.btn-danger.btn-sm(type="submit")
                                                        span Delete
                            
                .tab-pane(id="orders")
                    .col-12
                        row.justify-content-between.d-flex
                            h1 Orders
                        row
                            ul.list-group.mt-2
                                each order in orders
                                    a.list-group-item.list-group-item-action.justify-content-between.d-flex(href="/order/view/" + order._id)
                                        h4=order._id.toString().substring(0,10)
                                        form(action="/admin/delete-product/" + order._id method="POST")
                                            .btn-group
                                                button.btn.btn-danger.btn-sm(type="submit") Cancel

                .tab-pane(id="settings") Data 4
    .modal.fade(id="newProductDialog")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-body 
                    h1.mb-4 New Product
                    form(action="/admin/create-product" method="POST")
                        .form-group
                            input.form-control(type="text" placeholder="Product Name" name="title")
                            textarea.form-control.mt-4(type="text" placeholder="Product Description" name="description")
                            input.form-control.mt-4.col-4(value="0.00" type="number" name="price" min="0.00" max="200.00" step="0.01")
                        button.btn.btn-success(type="submit") Create